*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-tit{
    width: 270px;
    height: 34px;
    background-color: #4fc08d;
}
.product-tit>p{
    color: white;
    margin-left: 16px;
    line-height: 34px;
}
.product-cont-first{
    width: 270px;
    height: 185px;
    background-color: white;
}
.product-cont-first>p{
    padding-top: 23px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}
.product-cont-first>ul{
    margin: 24px 0 0 20px;
}
.product-cont-first>ul>li{
    padding-bottom: 2px;
}
.product-cont-last{
    width: 270px;
    height: 185px;
    background-color: white;
    margin-top: 2px;
    border-radius: 0 0 10px 10px;
}
.product-cont-last>p{
    padding-top: 21px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}
.product-cont-last>ul{
    margin: 24px 0 0 20px;
}
.product-cont-last>ul>li{
    padding-bottom: 2px;
}
.hot{
    display: inline-block;
    width: 40px;
    height: 16px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 16px;
    margin-left: 5px;
}
.new-xiaoxi{
    margin-top: 15px;
}
.new-tit{
    width: 270px;
    height: 34px;
    background-color: #4fc08d;
}
.new-tit>p{
    color: white;
    margin-left: 16px;
    line-height: 34px;
}
.new-cont{
    width: 270px;
    height: 478px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.new-cont>ul{
    padding: 36px 0 28px 20px;
}
.new-cont>ul>li{
    padding-bottom: 2px;
}
