.earth-top{
    width: 980px;
    overflow: hidden;
}
.earth-fex{
   padding: 21px 0 0 19px;
    background:white;
    margin-bottom: 20px;
}
/*统计*/
.census{
    margin-top: 30px;
    color: #b1b2a6;
    margin-bottom: 20px;
}
/*产品*/
.product{
    display: flex;
    margin-top: 20px;
}
.colors{
    padding: 4px 0;
}
.color{
    padding: 4px 5px;
    border: 1px solid #b1b2a6;
    border-radius: 4px;
    margin-right: 8px;
}
.color:nth-of-type(1){
    background: green;
    color: #fff;
}
/*间隙*/
.gap{
    margin-left: 40px;
    display: flex;
}
/*立即购买*/
.shop{
    padding: 6px 14px;
    background: green;
    margin-left: 118px;
    border-radius: 6px;
    color: white;
    margin-bottom: 20px;
}
/*产品说明*/
.explain{
    font-size: 17px;
    margin-bottom: 24px;
}
.analysis{
    display: flex;
    margin-bottom: 0;
}
.analysis-as{
    list-style: none;
    padding: 10px 36px;
    border-bottom: 1px solid #b1b2a6;
    border-right: 1px solid #b1b2a6;
}
.borderr{
    width: 928px;
    margin-top: 21px;
    border-top: 1px solid #b1b2a6;
    border-left: 1px solid #b1b2a6;
}
.earth-start{
    display:none;
}
.earth-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    display: flex;
}
.earth-cent{
    height: 340px;
    width: 855px;
    background: #fff;
    border-radius: 6px;
    position: relative;
}
.earth-num{
    margin: 20px 20px 31px 31px;
}
.earth-ul{
    display: flex;
    margin-bottom: 0;
}
.earth-sixe{
    list-style: none;
    width: 175px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.sixe{
    background: green;
    color: white;
}
.lii{
    border-right: 1px solid  #b1b2a6;
    border-left: 1px solid  #b1b2a6;
    border-bottom: 1px solid  #b1b2a6;
    box-sizing: border-box;
}
.x{
    position: absolute;
    top: 2px;
    right: 7px;
}
.bank{
    margin-top: 20px;
    width:800px;
    height:120px;
    margin-bottom:31px;
}
.confirm{
    height: 43px;
    width: 96px;
    background:green;
    line-height: 43px;
    text-align: center;
    color: white;
    border-radius: 4px;
}
.earth-ceten{
    display: flex;
   flex-direction: column;
    align-items: center;
}
.logoo{
    display: flex;
   flex-wrap: wrap;
}
.logoq{
    width:223px;
    height: 44px;
   background-image: url("logo.jpg");
    background-position: 14% 18%;
}
.logoq:nth-of-type(2){
    background-position: 14% 57%;
}
.logoq:nth-of-type(3){
    background-position: 9% 77%;
}
.logoq:nth-of-type(4){
    background-position: 87% 78%;
}
