.head-box{
    height: 90px;
    background-color: #363636;
}
.head-cont{
    display: flex;
    width: 987px;
    height: 90px;
    margin: auto;
}
.head-logo{
    width: 50px;
    height: 50px;
}
.head-logo>img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.land{
    display: flex;
    color: #b2b2b2;
    margin-left: auto;
}
.land>p{
    height: 21px;
    border-left: 1px solid #b2b2b2;
    padding: 0 11px;
    margin-top: 39px;
}
.land>p>h2{
    font-size: 16px;

}
